@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626141578618') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-similar-product:before {
  content: "\e707";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-column:before {
  content: "\e741";
}

.icon-add-account:before {
  content: "\e742";
}

.icon-apparel:before {
  content: "\e743";
}

.icon-all:before {
  content: "\e744";
}

